<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Reservas</title>
</head>
<body>
    <h1>Crear Reserva</h1>

    <form action="/crear" method="POST">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="date" name="fecha" required>
        <input type="time" name="hora" required>
        <input type="number" name="personas" placeholder="Personas" required>
        <button type="submit">Guardar</button>
    </form>

    <h2>Reservas Registradas</h2>
    <ul>
        {% for r in reservas %}
            <li>
                {{ r.nombre }} - {{ r.fecha }} - {{ r.hora }} - {{ r.personas }} personas
            </li>
        {% endfor %}
    </ul>
</body>
</html>